.elementor-2146 .elementor-element.elementor-element-f337fbc > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-2146 .elementor-element.elementor-element-42a0b5d > .elementor-element-populated{padding:0px 20px 0px 0px;}.elementor-2146 .elementor-element.elementor-element-6efb033 .rxta-dynamic-meta{text-align:center;}.elementor-2146 .elementor-element.elementor-element-4c5ccbb .rxta-dynamic-meta{text-align:center;}.elementor-2146 .elementor-element.elementor-element-a457814 .elementor-image{text-align:center;}.elementor-2146 .elementor-element.elementor-element-a457814 .elementor-image img{object-fit:fill;}.elementor-2146 .elementor-element.elementor-element-a457814 .elementor-image .rxta-dynamic-image-wrapper{transition-duration:0.3s;}.elementor-2146 .elementor-element.elementor-element-a457814 .elementor-image .elementor-icon{color:#000000;border-color:#000000;}.elementor-2146 .elementor-element.elementor-element-abc5e87 > .elementor-element-populated{padding:60px 66px 60px 66px;}.elementor-2146 .elementor-element.elementor-element-77bc7d3 .rxta-dynamic-meta{font-family:"Barlow Condensed", Sans-serif;font-size:14px;font-weight:600;text-transform:uppercase;letter-spacing:2.8px;}.elementor-2146 .elementor-element.elementor-element-77bc7d3 .rxta-dynamic-meta a{text-decoration:none;}.elementor-2146 .elementor-element.elementor-element-0e9a71a .elementor-heading-title{font-size:34px;font-weight:600;line-height:1.2em;}.elementor-2146 .elementor-element.elementor-element-0e9a71a > .elementor-widget-container{margin:8px 0px 12px 0px;}.elementor-2146 .elementor-element.elementor-element-e714855 .rxta-dynamic-meta a{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-2146 .elementor-element.elementor-element-e714855 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-2146 .elementor-element.elementor-element-e714855{width:auto;max-width:auto;}.elementor-2146 .elementor-element.elementor-element-04ee95b > .elementor-widget-container{margin:0px 0px 0px 5px;}.elementor-2146 .elementor-element.elementor-element-04ee95b{width:auto;max-width:auto;}.elementor-2146 .elementor-element.elementor-element-1a66c32 .rxta-dynamic-meta a{color:#f09922;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-2146 .elementor-element.elementor-element-1a66c32 .rxta-dynamic-meta svg{width:7px;height:auto;}.elementor-2146 .elementor-element.elementor-element-1a66c32 .rxta-dynamic-meta i{font-size:7px;color:#FFFFFF;}.elementor-2146 .elementor-element.elementor-element-1a66c32 > .elementor-widget-container{margin:0px 0px 0px 5px;}.elementor-2146 .elementor-element.elementor-element-1a66c32{width:auto;max-width:auto;}.elementor-2146 .elementor-element.elementor-element-cc38031 > .elementor-widget-container{margin:0px 0px 0px 5px;}.elementor-2146 .elementor-element.elementor-element-cc38031{width:auto;max-width:auto;}.elementor-2146 .elementor-element.elementor-element-b16a97c > .elementor-element-populated{padding:45px 10px 45px 208px;}.elementor-2146 .elementor-element.elementor-element-2d27874 > .elementor-widget-container{margin:0px 0px 48px 0px;}.elementor-2146 .elementor-element.elementor-element-b626ba0 .rxta-dynamic-meta{font-family:"Barlow Condensed", Sans-serif;font-size:20px;font-weight:500;text-transform:uppercase;line-height:1.3em;}.elementor-2146 .elementor-element.elementor-element-b626ba0{color:#26264b;}.elementor-2146 .elementor-element.elementor-element-b626ba0 .rxta-dynamic-meta a{color:#26264b;}.elementor-2146 .elementor-element.elementor-element-b626ba0 .rxta-dynamic-meta img{width:23px;}.elementor-2146 .elementor-element.elementor-element-0b1661e .rxta-dynamic-meta{font-family:"Barlow Condensed", Sans-serif;font-weight:500;}.elementor-2146 .elementor-element.elementor-element-0b1661e > .elementor-widget-container{margin:5px 0px 0px 44px;}@media(max-width:1024px){.elementor-2146 .elementor-element.elementor-element-0e9a71a .elementor-heading-title{font-size:26px;}.elementor-2146 .elementor-element.elementor-element-0e9a71a > .elementor-widget-container{margin:14px 0px 20px 0px;}}@media(min-width:768px){.elementor-2146 .elementor-element.elementor-element-42a0b5d{width:13.761%;}.elementor-2146 .elementor-element.elementor-element-abc5e87{width:86.239%;}}@media(max-width:1024px) and (min-width:768px){.elementor-2146 .elementor-element.elementor-element-42a0b5d{width:19%;}.elementor-2146 .elementor-element.elementor-element-abc5e87{width:81%;}}@media(max-width:767px){.elementor-2146 .elementor-element.elementor-element-42a0b5d{width:100%;}.elementor-2146 .elementor-element.elementor-element-42a0b5d > .elementor-element-populated{padding:30px 20px 9px 20px;}.elementor-2146 .elementor-element.elementor-element-6efb033 .rxta-dynamic-meta{text-align:left;}.elementor-2146 .elementor-element.elementor-element-4c5ccbb .rxta-dynamic-meta{text-align:left;}.elementor-2146 .elementor-element.elementor-element-abc5e87{width:100%;}.elementor-2146 .elementor-element.elementor-element-abc5e87 > .elementor-element-populated{padding:30px 20px 30px 20px;}.elementor-2146 .elementor-element.elementor-element-0e9a71a > .elementor-widget-container{margin:10px 0px 17px 0px;}.elementor-2146 .elementor-element.elementor-element-b16a97c > .elementor-element-populated{padding:20px 20px 40px 20px;}.elementor-2146 .elementor-element.elementor-element-2d27874 > .elementor-widget-container{margin:0px 0px 20px 0px;}}/* Start custom CSS for column, class: .elementor-element-42a0b5d */@media(min-width:768px){
.elementor-2146 .elementor-element.elementor-element-42a0b5d{
    flex: 0 0 143px;
}
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-title, class: .elementor-element-0e9a71a */@media(max-width: 991px) and (max-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-0e9a71a .elementor-heading-title,
    .elementor-2146 .elementor-element.elementor-element-0e9a71a .elementor-heading-title{
            font-size: 22px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-e714855 */.elementor-2146 .elementor-element.elementor-element-e714855 .rxta-dynamic-custom-meta{
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-1a66c32 */.elementor-2146 .elementor-element.elementor-element-1a66c32 .rxta-dynamic-custom-meta{
    color: #f09922;
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-abc5e87 */@media(max-width: 991px) and (min-width:768px){
    #elementor .elementor-2146 .elementor-element.elementor-element-abc5e87,
    .elementor-2146 .elementor-element.elementor-element-abc5e87{
        width: 75%;
    }
     #elementor .elementor-2146 .elementor-element.elementor-element-abc5e87 > .elementor-element-populated,
    .elementor-2146 .elementor-element.elementor-element-abc5e87 > .elementor-element-populated{
        padding: 40px 30px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-42a0b5d */@media(min-width:768px){
.elementor-2146 .elementor-element.elementor-element-42a0b5d{
    flex: 0 0 143px;
}
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-title, class: .elementor-element-0e9a71a */@media(max-width: 991px) and (max-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-0e9a71a .elementor-heading-title,
    .elementor-2146 .elementor-element.elementor-element-0e9a71a .elementor-heading-title{
            font-size: 22px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-e714855 */.elementor-2146 .elementor-element.elementor-element-e714855 .rxta-dynamic-custom-meta{
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-1a66c32 */.elementor-2146 .elementor-element.elementor-element-1a66c32 .rxta-dynamic-custom-meta{
    color: #f09922;
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-abc5e87 */@media(max-width: 991px) and (min-width:768px){
    #elementor .elementor-2146 .elementor-element.elementor-element-abc5e87,
    .elementor-2146 .elementor-element.elementor-element-abc5e87{
        width: 75%;
    }
     #elementor .elementor-2146 .elementor-element.elementor-element-abc5e87 > .elementor-element-populated,
    .elementor-2146 .elementor-element.elementor-element-abc5e87 > .elementor-element-populated{
        padding: 40px 30px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-f337fbc */.elementor-2146 .elementor-element.elementor-element-f337fbc{
    cursor: pointer;
    transition: .4s ease;
}
.rxta-event-type__break .elementor-2146 .elementor-element.elementor-element-f337fbc{
    cursor: default;
    background-color: #f4f2ee;
}

@media(min-width: 768px){
    .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open{
        margin-top: 60px;
    }
}
.elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open + .elementor-section{
    height: 281px;
}
.rx-open .event-tab-right{
    background: #f4f2ee;
}
@media(max-width: 991px) and (min-width:768px){
    .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open + .elementor-section{
        height: 297px;
    }
}
@media(max-width: 767px){
    .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open + .elementor-section{
        height: 280px;
    }
}
@media(max-width: 575px){
    .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open + .elementor-section{
        height: auto;
    }
}

.rxta-event-type__break .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open{
    margin-top: 0;
}
.rxta-event-type__break .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open + .elementor-section{
    height: 0;
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-content, class: .elementor-element-2d27874 */@media(max-width: 991px) and (min-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-2d27874 > .elementor-widget-container,
    .elementor-2146 .elementor-element.elementor-element-2d27874 > .elementor-widget-container{
        margin-bottom: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-b626ba0 */.elementor-2146 .elementor-element.elementor-element-b626ba0 .entry-meta{
    color: #26264b;
    display: flex;
    align-items: center;
}
.elementor-2146 .elementor-element.elementor-element-b626ba0 .rxta-dynamic-meta-icon{
    margin-right: 20px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b16a97c */@media(max-width: 991px) and (min-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-b16a97c > .elementor-element-populated,
    .elementor-2146 .elementor-element.elementor-element-b16a97c > .elementor-element-populated{
        padding: 15px 10px 35px 168px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-content, class: .elementor-element-2d27874 */@media(max-width: 991px) and (min-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-2d27874 > .elementor-widget-container,
    .elementor-2146 .elementor-element.elementor-element-2d27874 > .elementor-widget-container{
        margin-bottom: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-b626ba0 */.elementor-2146 .elementor-element.elementor-element-b626ba0 .entry-meta{
    color: #26264b;
    display: flex;
    align-items: center;
}
.elementor-2146 .elementor-element.elementor-element-b626ba0 .rxta-dynamic-meta-icon{
    margin-right: 20px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b16a97c */@media(max-width: 991px) and (min-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-b16a97c > .elementor-element-populated,
    .elementor-2146 .elementor-element.elementor-element-b16a97c > .elementor-element-populated{
        padding: 15px 10px 35px 168px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-6345f49 */#elementor .elementor-2146 .elementor-element.elementor-element-6345f49{
    height: auto;
}
.elementor-2146 .elementor-element.elementor-element-6345f49{
    height: 0;
    transition: .4s ease;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-42a0b5d */@media(min-width:768px){
.elementor-2146 .elementor-element.elementor-element-42a0b5d{
    flex: 0 0 143px;
}
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-title, class: .elementor-element-0e9a71a */@media(max-width: 991px) and (max-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-0e9a71a .elementor-heading-title,
    .elementor-2146 .elementor-element.elementor-element-0e9a71a .elementor-heading-title{
            font-size: 22px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-e714855 */.elementor-2146 .elementor-element.elementor-element-e714855 .rxta-dynamic-custom-meta{
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-1a66c32 */.elementor-2146 .elementor-element.elementor-element-1a66c32 .rxta-dynamic-custom-meta{
    color: #f09922;
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-abc5e87 */@media(max-width: 991px) and (min-width:768px){
    #elementor .elementor-2146 .elementor-element.elementor-element-abc5e87,
    .elementor-2146 .elementor-element.elementor-element-abc5e87{
        width: 75%;
    }
     #elementor .elementor-2146 .elementor-element.elementor-element-abc5e87 > .elementor-element-populated,
    .elementor-2146 .elementor-element.elementor-element-abc5e87 > .elementor-element-populated{
        padding: 40px 30px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-42a0b5d */@media(min-width:768px){
.elementor-2146 .elementor-element.elementor-element-42a0b5d{
    flex: 0 0 143px;
}
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-title, class: .elementor-element-0e9a71a */@media(max-width: 991px) and (max-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-0e9a71a .elementor-heading-title,
    .elementor-2146 .elementor-element.elementor-element-0e9a71a .elementor-heading-title{
            font-size: 22px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-e714855 */.elementor-2146 .elementor-element.elementor-element-e714855 .rxta-dynamic-custom-meta{
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-1a66c32 */.elementor-2146 .elementor-element.elementor-element-1a66c32 .rxta-dynamic-custom-meta{
    color: #f09922;
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-abc5e87 */@media(max-width: 991px) and (min-width:768px){
    #elementor .elementor-2146 .elementor-element.elementor-element-abc5e87,
    .elementor-2146 .elementor-element.elementor-element-abc5e87{
        width: 75%;
    }
     #elementor .elementor-2146 .elementor-element.elementor-element-abc5e87 > .elementor-element-populated,
    .elementor-2146 .elementor-element.elementor-element-abc5e87 > .elementor-element-populated{
        padding: 40px 30px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-f337fbc */.elementor-2146 .elementor-element.elementor-element-f337fbc{
    cursor: pointer;
    transition: .4s ease;
}
.rxta-event-type__break .elementor-2146 .elementor-element.elementor-element-f337fbc{
    cursor: default;
    background-color: #f4f2ee;
}

@media(min-width: 768px){
    .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open{
        margin-top: 60px;
    }
}
.elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open + .elementor-section{
    height: 281px;
}
.rx-open .event-tab-right{
    background: #f4f2ee;
}
@media(max-width: 991px) and (min-width:768px){
    .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open + .elementor-section{
        height: 297px;
    }
}
@media(max-width: 767px){
    .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open + .elementor-section{
        height: 280px;
    }
}
@media(max-width: 575px){
    .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open + .elementor-section{
        height: auto;
    }
}

.rxta-event-type__break .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open{
    margin-top: 0;
}
.rxta-event-type__break .elementor-2146 .elementor-element.elementor-element-f337fbc.rx-open + .elementor-section{
    height: 0;
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-content, class: .elementor-element-2d27874 */@media(max-width: 991px) and (min-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-2d27874 > .elementor-widget-container,
    .elementor-2146 .elementor-element.elementor-element-2d27874 > .elementor-widget-container{
        margin-bottom: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-b626ba0 */.elementor-2146 .elementor-element.elementor-element-b626ba0 .entry-meta{
    color: #26264b;
    display: flex;
    align-items: center;
}
.elementor-2146 .elementor-element.elementor-element-b626ba0 .rxta-dynamic-meta-icon{
    margin-right: 20px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b16a97c */@media(max-width: 991px) and (min-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-b16a97c > .elementor-element-populated,
    .elementor-2146 .elementor-element.elementor-element-b16a97c > .elementor-element-populated{
        padding: 15px 10px 35px 168px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-content, class: .elementor-element-2d27874 */@media(max-width: 991px) and (min-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-2d27874 > .elementor-widget-container,
    .elementor-2146 .elementor-element.elementor-element-2d27874 > .elementor-widget-container{
        margin-bottom: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-meta, class: .elementor-element-b626ba0 */.elementor-2146 .elementor-element.elementor-element-b626ba0 .entry-meta{
    color: #26264b;
    display: flex;
    align-items: center;
}
.elementor-2146 .elementor-element.elementor-element-b626ba0 .rxta-dynamic-meta-icon{
    margin-right: 20px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b16a97c */@media(max-width: 991px) and (min-width:768px){
     #elementor .elementor-2146 .elementor-element.elementor-element-b16a97c > .elementor-element-populated,
    .elementor-2146 .elementor-element.elementor-element-b16a97c > .elementor-element-populated{
        padding: 15px 10px 35px 168px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-6345f49 */#elementor .elementor-2146 .elementor-element.elementor-element-6345f49{
    height: auto;
}
.elementor-2146 .elementor-element.elementor-element-6345f49{
    height: 0;
    transition: .4s ease;
}/* End custom CSS */