.elementor-141 .elementor-element.elementor-element-683814a > .elementor-container{max-width:1200px;}.elementor-141 .elementor-element.elementor-element-683814a{border-style:solid;border-width:0px 0px 1px 0px;border-color:rgba(255,255,255,0.05);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 15px 0px 15px;z-index:10;}.elementor-141 .elementor-element.elementor-element-683814a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-141 .elementor-element.elementor-element-d380cf3 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-141 .elementor-element.elementor-element-eaf1703 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-141 .elementor-element.elementor-element-9a2fe19 > .elementor-element-populated{padding:0px 15px 0px 0px;}.elementor-141 .elementor-element.elementor-element-cea9916 .rx-logo{justify-content:flex-start;}.elementor-141 .elementor-element.elementor-element-cea9916 .rx-logo__text{color:#ffffff;}.elementor-141 .elementor-element.elementor-element-1773fec.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-141 .elementor-element.elementor-element-1773fec > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-141 .elementor-element.elementor-element-2a390f4 > .elementor-widget-container{padding:5px 0px 0px 0px;}.elementor-141 .elementor-element.elementor-element-fbeb017.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-141 .elementor-element.elementor-element-fbeb017 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 15px;}.elementor-141 .elementor-element.elementor-element-1b82433 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-141 .elementor-element.elementor-element-1b82433{width:auto;max-width:auto;}.elementor-141 .elementor-element.elementor-element-a368b94 .elementor-icon-wrapper{text-align:center;}.elementor-141 .elementor-element.elementor-element-a368b94.elementor-view-stacked .elementor-icon{background-color:#ffffff;}.elementor-141 .elementor-element.elementor-element-a368b94.elementor-view-framed .elementor-icon, .elementor-141 .elementor-element.elementor-element-a368b94.elementor-view-default .elementor-icon{color:#ffffff;border-color:#ffffff;}.elementor-141 .elementor-element.elementor-element-a368b94.elementor-view-framed .elementor-icon, .elementor-141 .elementor-element.elementor-element-a368b94.elementor-view-default .elementor-icon svg{fill:#ffffff;}.elementor-141 .elementor-element.elementor-element-a368b94 .elementor-icon i, .elementor-141 .elementor-element.elementor-element-a368b94 .elementor-icon svg{transform:rotate(0deg);}.elementor-141 .elementor-element.elementor-element-a459658{margin-top:-1px;margin-bottom:0px;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module{min-height:5px;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs{background-color:#cccccc;background-image:url("http://localhost/lomkelar/wordpress/wp-content/uploads/2019/10/bg-breadcrumbs-01-1894x424-1.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .page-title{text-align:center;font-size:60px;line-height:1.2em;padding:0px 0px 100px 0px;margin:0px 0px 0px 0px;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .rx-theme-assistant-db{text-align:left;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .rxta-dynamic-breadcrumbs_content{justify-content:center;font-size:14px;font-weight:600;text-transform:uppercase;line-height:1.7em;letter-spacing:2px;padding:206px 0px 4px 0px;margin:0px 0px 0px 0px;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .rxta-dynamic-breadcrumbs_browse{margin-right:14px;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .rxta-dynamic-breadcrumbs_wrap .rxta-dynamic-breadcrumbs_item{margin-right:14px;}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-141 .elementor-element.elementor-element-fbeb017 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-141 .elementor-element.elementor-element-a368b94 .elementor-icon-wrapper{text-align:right;}.elementor-141 .elementor-element.elementor-element-a368b94 .elementor-icon{font-size:6px;}.elementor-141 .elementor-element.elementor-element-a368b94{width:auto;max-width:auto;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .page-title{font-size:42px;padding:0px 0px 80px 0px;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .rxta-dynamic-breadcrumbs_content{padding:176px 0px 14px 0px;}}@media(max-width:767px){.elementor-141 .elementor-element.elementor-element-a368b94 > .elementor-widget-container{margin:0px -4px 0px 0px;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .page-title{font-size:26px;padding:0px 0px 40px 0px;}.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .rxta-dynamic-breadcrumbs_content{padding:95px 0px 14px 0px;}}@media(min-width:768px){.elementor-141 .elementor-element.elementor-element-9a2fe19{width:20%;}.elementor-141 .elementor-element.elementor-element-1773fec{width:63.529%;}.elementor-141 .elementor-element.elementor-element-fbeb017{width:20%;}}@media(max-width:1024px) and (min-width:768px){.elementor-141 .elementor-element.elementor-element-9a2fe19{width:20%;}.elementor-141 .elementor-element.elementor-element-1773fec{width:60%;}.elementor-141 .elementor-element.elementor-element-fbeb017{width:20%;}}@media(min-width:1025px){.elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs{background-attachment:scroll;}}/* Start custom CSS for wp-widget-maxmegamenu, class: .elementor-element-2a390f4 */@media(max-width: 991px){
    .elementor-141 .elementor-element.elementor-element-2a390f4 > .elementor-widget-container{
        padding: 0;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1773fec */@media(max-width: 991px){
    .elementor-141 .elementor-element.elementor-element-1773fec{
        position: absolute;
        width: auto;
        left: 0;
    }
    .elementor-141 .elementor-element.elementor-element-1773fec > .elementor-element-populated{
        padding: 0;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-1b82433 */.elementor-141 .elementor-element.elementor-element-1b82433 .elementor-button{
    display: block;
}/* End custom CSS */
/* Start custom CSS for wp-widget-maxmegamenu, class: .elementor-element-2a390f4 */@media(max-width: 991px){
    .elementor-141 .elementor-element.elementor-element-2a390f4 > .elementor-widget-container{
        padding: 0;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1773fec */@media(max-width: 991px){
    .elementor-141 .elementor-element.elementor-element-1773fec{
        position: absolute;
        width: auto;
        left: 0;
    }
    .elementor-141 .elementor-element.elementor-element-1773fec > .elementor-element-populated{
        padding: 0;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-1b82433 */.elementor-141 .elementor-element.elementor-element-1b82433 .elementor-button{
    display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-eaf1703 */@media(max-width: 1199px){
    .elementor-141 .elementor-element.elementor-element-eaf1703.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for wp-widget-maxmegamenu, class: .elementor-element-2a390f4 */@media(max-width: 991px){
    .elementor-141 .elementor-element.elementor-element-2a390f4 > .elementor-widget-container{
        padding: 0;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1773fec */@media(max-width: 991px){
    .elementor-141 .elementor-element.elementor-element-1773fec{
        position: absolute;
        width: auto;
        left: 0;
    }
    .elementor-141 .elementor-element.elementor-element-1773fec > .elementor-element-populated{
        padding: 0;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-1b82433 */.elementor-141 .elementor-element.elementor-element-1b82433 .elementor-button{
    display: block;
}/* End custom CSS */
/* Start custom CSS for wp-widget-maxmegamenu, class: .elementor-element-2a390f4 */@media(max-width: 991px){
    .elementor-141 .elementor-element.elementor-element-2a390f4 > .elementor-widget-container{
        padding: 0;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1773fec */@media(max-width: 991px){
    .elementor-141 .elementor-element.elementor-element-1773fec{
        position: absolute;
        width: auto;
        left: 0;
    }
    .elementor-141 .elementor-element.elementor-element-1773fec > .elementor-element-populated{
        padding: 0;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-1b82433 */.elementor-141 .elementor-element.elementor-element-1b82433 .elementor-button{
    display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-eaf1703 */@media(max-width: 1199px){
    .elementor-141 .elementor-element.elementor-element-eaf1703.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-683814a */.admin-bar .elementor-141 .elementor-element.elementor-element-683814a,
.admin-bar 	.elementor-141 .elementor-element.elementor-element-683814a.header-scroll {
	top:32px;
}
@media(max-width: 782px){
    .admin-bar .elementor-141 .elementor-element.elementor-element-683814a{
	top:46px;
	transition: .15s ease;
}
.admin-bar 	.elementor-141 .elementor-element.elementor-element-683814a.header-scroll{
    top: 0;
}
}
.elementor-141 .elementor-element.elementor-element-683814a{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    will-change: transform;
    transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
@media(max-width: 991px){
    .elementor-141 .elementor-element.elementor-element-683814a{
        background: #26264b;
        padding: 4px;
    }
}

@media(min-width: 992px){
	.elementor-141 .elementor-element.elementor-element-683814a.header-top {
		transform: translateY(-100%);
		background: #26264b;
	}
	.elementor-141 .elementor-element.elementor-element-683814a.header-scroll {
		transform: translateY(0);
	}
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-breadcrumbs, class: .elementor-element-e98a8e3 */@media(max-width: 991px) and (min-width:768px){
    .elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .rxta-dynamic-breadcrumbs_content{
        padding: 132px 0 14px;
    }
    .elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .page-title{
        font-size: 26px;
    }
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-breadcrumbs, class: .elementor-element-e98a8e3 */@media(max-width: 991px) and (min-width:768px){
    .elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .rxta-dynamic-breadcrumbs_content{
        padding: 132px 0 14px;
    }
    .elementor-141 .elementor-element.elementor-element-e98a8e3 .rxta-dynamic-breadcrumbs-module .page-title{
        font-size: 26px;
    }
}/* End custom CSS */