.elementor-991 .elementor-element.elementor-element-491c727 > .elementor-container{max-width:400px;}.elementor-991 .elementor-element.elementor-element-bca3ee8 .elementor-image{text-align:center;}.elementor-991 .elementor-element.elementor-element-bca3ee8 .rxta-dynamic-image-wrapper{width:100%;max-width:100%;}.elementor-991 .elementor-element.elementor-element-bca3ee8 .elementor-image img{object-fit:cover;}.elementor-991 .elementor-element.elementor-element-bca3ee8 .elementor-image .rxta-dynamic-image-wrapper{transition-duration:0.3s;}.elementor-991 .elementor-element.elementor-element-bca3ee8 .elementor-image .elementor-icon{color:#000000;border-color:#000000;}.elementor-991 .elementor-element.elementor-element-bca3ee8 > .elementor-widget-container{margin:0px 0px 26px 0px;}.elementor-991 .elementor-element.elementor-element-3fd0e68 .rxta-dynamic-meta a{margin:0px 8px 0px 0px;padding:0px 0px 0px 0px;}.elementor-991 .elementor-element.elementor-element-3fd0e68{width:auto;max-width:auto;}.elementor-991 .elementor-element.elementor-element-0e01d7c .rxta-dynamic-meta a{text-decoration:none;color:#8b8b9a;margin:0px 0px 0px 8px;}.elementor-991 .elementor-element.elementor-element-0e01d7c .rxta-dynamic-meta a:hover{color:#d90e90;}.elementor-991 .elementor-element.elementor-element-0e01d7c{width:auto;max-width:auto;}.elementor-991 .elementor-element.elementor-element-5541ffd .elementor-heading-title{font-size:30px;font-weight:600;text-decoration:none;line-height:1.2em;}.elementor-991 .elementor-element.elementor-element-5541ffd > .elementor-widget-container{margin:2px 0px 0px 0px;}.elementor-991 .elementor-element.elementor-element-972040b > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-991 .elementor-element.elementor-element-80ac8e7 .elementor-button-icon svg{width:50px;height:auto;}.elementor-991 .elementor-element.elementor-element-80ac8e7 .elementor-button-icon i{font-size:50px;}.elementor-991 .elementor-element.elementor-element-80ac8e7 a.elementor-button, .elementor-991 .elementor-element.elementor-element-80ac8e7 .elementor-button{font-size:14px;font-weight:600;line-height:1.75em;letter-spacing:2.8px;padding:0px 0px 0px 0px;}.elementor-991 .elementor-element.elementor-element-80ac8e7 > .elementor-widget-container{margin:35px 0px 0px 0px;}@media(max-width:1024px){.elementor-991 .elementor-element.elementor-element-5541ffd .elementor-heading-title{font-size:26px;}.elementor-991 .elementor-element.elementor-element-972040b > .elementor-widget-container{margin:15px 0px 0px 0px;}.elementor-991 .elementor-element.elementor-element-80ac8e7 > .elementor-widget-container{margin:30px 0px 0px 0px;}}@media(max-width:767px){.elementor-991 .elementor-element.elementor-element-5541ffd .elementor-heading-title{font-size:22px;}.elementor-991 .elementor-element.elementor-element-80ac8e7 > .elementor-widget-container{margin:20px 0px 0px 0px;}}/* Start custom CSS for rx-theme-assistant-dynamic-title, class: .elementor-element-5541ffd */.elementor-991 .elementor-element.elementor-element-5541ffd a{
    text-decoration: none;
}
@media(max-width: 991px) and (min-width: 768px){
	#elementor .elementor-991 .elementor-element.elementor-element-5541ffd .elementor-heading-title,
	.elementor-991 .elementor-element.elementor-element-5541ffd .elementor-heading-title{
	    font-size: 22px;
	}
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-button, class: .elementor-element-80ac8e7 */.elementor-991 .elementor-element.elementor-element-80ac8e7 .elementor-button{
    background: none;
}
.elementor-991 .elementor-element.elementor-element-80ac8e7 .elementor-button:hover{
    text-decoration: underline;
}
@media(max-width: 991px) and (min-width: 768px){
	#elementor .elementor-991 .elementor-element.elementor-element-80ac8e7 > .elementor-widget-container,
	.elementor-991 .elementor-element.elementor-element-80ac8e7 > .elementor-widget-container{
	    margin-top: 20px;
	}
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-title, class: .elementor-element-5541ffd */.elementor-991 .elementor-element.elementor-element-5541ffd a{
    text-decoration: none;
}
@media(max-width: 991px) and (min-width: 768px){
	#elementor .elementor-991 .elementor-element.elementor-element-5541ffd .elementor-heading-title,
	.elementor-991 .elementor-element.elementor-element-5541ffd .elementor-heading-title{
	    font-size: 22px;
	}
}/* End custom CSS */
/* Start custom CSS for rx-theme-assistant-dynamic-button, class: .elementor-element-80ac8e7 */.elementor-991 .elementor-element.elementor-element-80ac8e7 .elementor-button{
    background: none;
}
.elementor-991 .elementor-element.elementor-element-80ac8e7 .elementor-button:hover{
    text-decoration: underline;
}
@media(max-width: 991px) and (min-width: 768px){
	#elementor .elementor-991 .elementor-element.elementor-element-80ac8e7 > .elementor-widget-container,
	.elementor-991 .elementor-element.elementor-element-80ac8e7 > .elementor-widget-container{
	    margin-top: 20px;
	}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-491c727 */@media(max-width: 767px){
    #elementor .elementor-991 .elementor-element.elementor-element-491c727 > .elementor-container,
	.elementor-991 .elementor-element.elementor-element-491c727 > .elementor-container{
	    max-width: 370px;
	}
}/* End custom CSS */