.elementor-206 .elementor-element.elementor-element-433e9d9:not(.elementor-motion-effects-element-type-background), .elementor-206 .elementor-element.elementor-element-433e9d9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#15162b;}.elementor-206 .elementor-element.elementor-element-433e9d9{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-433e9d9 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-206 .elementor-element.elementor-element-8a085a9.elementor-column .elementor-column-wrap{align-items:center;}.elementor-206 .elementor-element.elementor-element-8a085a9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-206 .elementor-element.elementor-element-8a085a9 > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-206 .elementor-element.elementor-element-0ea6aae .rx-logo{justify-content:flex-start;}.elementor-206 .elementor-element.elementor-element-ea9fcb1 > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-206 .elementor-element.elementor-element-ad0c445 .elementor-heading-title{font-size:24px;font-weight:600;}.elementor-206 .elementor-element.elementor-element-ad0c445 > .elementor-widget-container{margin:0px 0px 35px 0px;}.elementor-206 .elementor-element.elementor-element-3c31c84{font-family:"Barlow Condensed", Sans-serif;font-size:18px;font-weight:400;line-height:2em;}.elementor-206 .elementor-element.elementor-element-3c31c84 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-7a04e68{color:#b2b2c5;font-family:"Barlow Condensed", Sans-serif;font-size:18px;font-weight:400;line-height:2em;}.elementor-206 .elementor-element.elementor-element-6c5938f .elementor-button{font-family:"Barlow Condensed", Sans-serif;font-size:14px;font-weight:600;text-transform:uppercase;text-decoration:underline;letter-spacing:2.8px;background-color:rgba(0,0,0,0);padding:0px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-6c5938f > .elementor-widget-container{margin:37px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-8a755f2 > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-206 .elementor-element.elementor-element-6f923a4 .elementor-heading-title{font-size:24px;font-weight:600;}.elementor-206 .elementor-element.elementor-element-6f923a4 > .elementor-widget-container{margin:0px 0px 35px 0px;}.elementor-206 .elementor-element.elementor-element-da67781{color:#b2b2c5;font-family:"Barlow Condensed", Sans-serif;font-size:18px;font-weight:400;line-height:2em;}.elementor-206 .elementor-element.elementor-element-c368a16{--grid-template-columns:repeat(0, auto);--icon-size:14px;--grid-column-gap:6px;--grid-row-gap:0px;}.elementor-206 .elementor-element.elementor-element-c368a16 .elementor-widget-container{text-align:left;}.elementor-206 .elementor-element.elementor-element-c368a16 .elementor-social-icon{background-color:rgba(255,255,255,0.9);--icon-padding:1.36em;}.elementor-206 .elementor-element.elementor-element-c368a16 .elementor-social-icon i{color:#15162b;}.elementor-206 .elementor-element.elementor-element-c368a16 .elementor-social-icon svg{fill:#15162b;}.elementor-206 .elementor-element.elementor-element-c368a16 .elementor-icon{border-radius:0px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-c368a16 .elementor-social-icon:hover i{color:#ffffff;}.elementor-206 .elementor-element.elementor-element-c368a16 .elementor-social-icon:hover svg{fill:#ffffff;}.elementor-206 .elementor-element.elementor-element-c368a16 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-21d4a88{color:#b2b2c5;}.elementor-206 .elementor-element.elementor-element-fe6ceda .elementor-text-editor{text-align:center;}.elementor-206 .elementor-element.elementor-element-fe6ceda{font-family:"Barlow Condensed", Sans-serif;}.elementor-206 .elementor-element.elementor-element-fe6ceda > .elementor-widget-container{margin:120px 0px 0px 0px;padding:45px 15px 45px 15px;border-style:solid;border-width:2px 0px 0px 0px;border-color:rgba(255,255,255,0.05);}@media(max-width:1024px){.elementor-206 .elementor-element.elementor-element-433e9d9{padding:104px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-0ea6aae > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-206 .elementor-element.elementor-element-ad0c445 .elementor-heading-title{font-size:18px;}.elementor-206 .elementor-element.elementor-element-ad0c445 > .elementor-widget-container{margin:0px 0px 26px 0px;}.elementor-206 .elementor-element.elementor-element-6c5938f > .elementor-widget-container{margin:17px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-6f923a4 .elementor-heading-title{font-size:18px;}.elementor-206 .elementor-element.elementor-element-6f923a4 > .elementor-widget-container{margin:0px 0px 26px 0px;}.elementor-206 .elementor-element.elementor-element-fe6ceda > .elementor-widget-container{margin:100px 0px 0px 0px;}}@media(max-width:767px){.elementor-206 .elementor-element.elementor-element-433e9d9{padding:50px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-8a085a9 > .elementor-element-populated{margin:0px 0px 30px 0px;}.elementor-206 .elementor-element.elementor-element-ea9fcb1{width:50%;}.elementor-206 .elementor-element.elementor-element-ad0c445 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-206 .elementor-element.elementor-element-6c5938f > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-8a755f2{width:50%;}.elementor-206 .elementor-element.elementor-element-6f923a4 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-206 .elementor-element.elementor-element-c368a16 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-206 .elementor-element.elementor-element-fe6ceda > .elementor-widget-container{margin:50px 0px 0px 0px;padding:27px 15px 27px 15px;}}/* Start custom CSS for column, class: .elementor-element-8a085a9 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-8a085a9{
        width: 100%;
        margin-bottom: 32px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ad0c445 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-ad0c445 > .elementor-widget-container{
        margin-bottom: 16px;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-6c5938f */.elementor-206 .elementor-element.elementor-element-6c5938f .elementor-button:hover{
    text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-6c5938f > .elementor-widget-container{
        margin-top: 7px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ea9fcb1 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-ea9fcb1{
        width: 50%;
    }
}
@media(max-width: 575px){
    #elementor .elementor-206 .elementor-element.elementor-element-ea9fcb1,
    .elementor-206 .elementor-element.elementor-element-ea9fcb1{
        width: 100%;
        margin-bottom: 33px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-6f923a4 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-6f923a4 > .elementor-widget-container{
        margin-bottom: 16px;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-da67781 */.elementor-206 .elementor-element.elementor-element-da67781 br{
    display: none;
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-c368a16 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-c368a16 > .elementor-widget-container{
        margin-top: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-8a755f2 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-8a755f2{
        width: 50%;
    }
}
@media(max-width: 575px){
    #elementor .elementor-206 .elementor-element.elementor-element-8a755f2,
    .elementor-206 .elementor-element.elementor-element-8a755f2{
        width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-8a085a9 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-8a085a9{
        width: 100%;
        margin-bottom: 32px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ad0c445 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-ad0c445 > .elementor-widget-container{
        margin-bottom: 16px;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-6c5938f */.elementor-206 .elementor-element.elementor-element-6c5938f .elementor-button:hover{
    text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-6c5938f > .elementor-widget-container{
        margin-top: 7px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ea9fcb1 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-ea9fcb1{
        width: 50%;
    }
}
@media(max-width: 575px){
    #elementor .elementor-206 .elementor-element.elementor-element-ea9fcb1,
    .elementor-206 .elementor-element.elementor-element-ea9fcb1{
        width: 100%;
        margin-bottom: 33px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-6f923a4 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-6f923a4 > .elementor-widget-container{
        margin-bottom: 16px;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-da67781 */.elementor-206 .elementor-element.elementor-element-da67781 br{
    display: none;
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-c368a16 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-c368a16 > .elementor-widget-container{
        margin-top: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-8a755f2 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-8a755f2{
        width: 50%;
    }
}
@media(max-width: 575px){
    #elementor .elementor-206 .elementor-element.elementor-element-8a755f2,
    .elementor-206 .elementor-element.elementor-element-8a755f2{
        width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-fe6ceda */.elementor-206 .elementor-element.elementor-element-fe6ceda a:hover{
    text-decoration: underline;
}
@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-fe6ceda > .elementor-widget-container{
        margin-top: 85px;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-fe6ceda */.elementor-206 .elementor-element.elementor-element-fe6ceda a:hover{
    text-decoration: underline;
}
@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-fe6ceda > .elementor-widget-container{
        margin-top: 85px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-8a085a9 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-8a085a9{
        width: 100%;
        margin-bottom: 32px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ad0c445 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-ad0c445 > .elementor-widget-container{
        margin-bottom: 16px;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-6c5938f */.elementor-206 .elementor-element.elementor-element-6c5938f .elementor-button:hover{
    text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-6c5938f > .elementor-widget-container{
        margin-top: 7px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ea9fcb1 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-ea9fcb1{
        width: 50%;
    }
}
@media(max-width: 575px){
    #elementor .elementor-206 .elementor-element.elementor-element-ea9fcb1,
    .elementor-206 .elementor-element.elementor-element-ea9fcb1{
        width: 100%;
        margin-bottom: 33px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-6f923a4 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-6f923a4 > .elementor-widget-container{
        margin-bottom: 16px;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-da67781 */.elementor-206 .elementor-element.elementor-element-da67781 br{
    display: none;
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-c368a16 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-c368a16 > .elementor-widget-container{
        margin-top: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-8a755f2 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-8a755f2{
        width: 50%;
    }
}
@media(max-width: 575px){
    #elementor .elementor-206 .elementor-element.elementor-element-8a755f2,
    .elementor-206 .elementor-element.elementor-element-8a755f2{
        width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-8a085a9 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-8a085a9{
        width: 100%;
        margin-bottom: 32px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ad0c445 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-ad0c445 > .elementor-widget-container{
        margin-bottom: 16px;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-6c5938f */.elementor-206 .elementor-element.elementor-element-6c5938f .elementor-button:hover{
    text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-6c5938f > .elementor-widget-container{
        margin-top: 7px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ea9fcb1 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-ea9fcb1{
        width: 50%;
    }
}
@media(max-width: 575px){
    #elementor .elementor-206 .elementor-element.elementor-element-ea9fcb1,
    .elementor-206 .elementor-element.elementor-element-ea9fcb1{
        width: 100%;
        margin-bottom: 33px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-6f923a4 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-6f923a4 > .elementor-widget-container{
        margin-bottom: 16px;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-da67781 */.elementor-206 .elementor-element.elementor-element-da67781 br{
    display: none;
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-c368a16 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-c368a16 > .elementor-widget-container{
        margin-top: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-8a755f2 */@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-8a755f2{
        width: 50%;
    }
}
@media(max-width: 575px){
    #elementor .elementor-206 .elementor-element.elementor-element-8a755f2,
    .elementor-206 .elementor-element.elementor-element-8a755f2{
        width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-fe6ceda */.elementor-206 .elementor-element.elementor-element-fe6ceda a:hover{
    text-decoration: underline;
}
@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-fe6ceda > .elementor-widget-container{
        margin-top: 85px;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-fe6ceda */.elementor-206 .elementor-element.elementor-element-fe6ceda a:hover{
    text-decoration: underline;
}
@media (min-width: 768px) and (max-width: 991px){
    .elementor-206 .elementor-element.elementor-element-fe6ceda > .elementor-widget-container{
        margin-top: 85px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-433e9d9 */@media(max-width: 991px) and (min-width:768px){
    .elementor-206 .elementor-element.elementor-element-433e9d9{
        padding-top: 85px;
    }
}/* End custom CSS */